@import './contact';
@import './portfolio';
@import './colors';
@import './components';
@import './mixins';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}


//NAV

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
    background: rgba(255, 255, 255, 0.985);
    box-shadow: 0px 4px 10px 10px rgba(117, 114, 114, 0.25);
}

.nav-logo {
    display: flex;
    width: 33.3%;
    justify-content: center;

    &__image {
        width: 71px;
        padding: .5rem;

    }
}

.burger-btn {
    padding: 1em;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 1000;

    &:focus {
        outline: none;
        border: 1px solid rgba(255, 255, 255, .5);
        border-radius: 8px;
    }

    &__box {
        position: relative;
        width: 40px;
        height: 30px;

    }

    &__bars,
    &__bars::after,
    &__bars::before {
        position: absolute;
        right: 0;
        height: 3px;
        content: '';
        background-color: #5b5b5b;
        border-radius: 7px;
        transition: transform .3s ease-in-out, background-color .3s ease-in-out;
    }

    &__bars {
        width: 100%;

        &::after {
            top: 13px;
            width: 100%;
        }

        &::before {
            top: 27px;
            width: 100%;
            transition-delay: .1;
        }
    }
}

.burger-btn.open .burger-btn__bars {
    background-color: transparent;


}

.burger-btn.open .burger-btn__bars::after {
    transform: rotate(45deg);
    background-color: #5b5b5b;


}

.burger-btn.open .burger-btn__bars::before {
    transform: rotate(-45deg) translate(10px, -10px);
    background-color: #5b5b5b;



}

.social-media {
    display: flex;
    justify-content: center;
    width: 33.3%;

    &__link {
        display: flex;
        justify-content: center;
        padding: 5 5px;
        margin: 0 5px;
    }

    &__icon {
        width: 41px;
    }
}

// nav mobile

.nav-mobile {
    position: fixed;
    top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    transform: translateX(-100%);
    background-color: #1d1d1df5;
    z-index: 100;
    transition: transform .3s;

    &__item {
        position: relative;
        display: block;
        color: white;
        margin: 0.5em 0;
        padding: 0.5em 2em;
        text-decoration: none;
        z-index: 101;
    }

    &__items {
        position: absolute;
        top: 25%;

    }

    &--active {
        transform: translateX(0);
    }
}


@keyframes navItemsAnimation {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.nav-items-animation {
    animation: navItemsAnimation 1s both;
}

// NAV DESKTOP

.nav-desktop {
    display: none;

}

//HEADER

.header {
    padding-top: 40rem;
    padding-bottom: 5rem;
    color: white;

    @include heroImages('../img/headerSmall.jpg');
    background-position: center 20%;

    &__heading {
        font-size: 2rem;
        line-height: 160%;
        font-weight: 500;
        margin-left: 10px;
        margin-bottom: 40%;
        letter-spacing: 3.5px;
    }

    &__text {
        font-size: 1.4rem;
        margin-left: 10px;
        white-space: nowrap;
        font-weight: 100;

        &:last-child {
            margin-top: 10px;
        }
    }
}

//main

//aboutus

.about-us-text__box {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;

}

.section-text-more {
    position: relative;
    display: block;
    margin: 0 0;
    margin-bottom: 2rem;


}

.hide {
    position: absolute;
    display: none;
}

.about-us-images__box {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}


.architect {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:first-child {
        margin-bottom: 4rem;
    }

    &-image {
        width: 80%;
    }

    &__img {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &-name {
        font-weight: bold;
        margin-top: 2rem;

    }

    &-profession {
        margin-top: 1rem;

    }
}

.advantages {
    @include heroImages('../img/advantagesSmall.png');
    background-attachment: fixed;
}

.advantage__boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}


.advantage {

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        width: 100%;
    }

    &__icon {
        font-size: 6rem;
        color: white;
        padding: 2rem;
    }

    &-text {
        color: white;
        text-transform: uppercase;
        text-align: center;
    }
}


.complex {

    &__box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 3rem;
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        margin-top: 5rem;
    }

    &__item {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 6rem;

        &--reverse {
            flex-direction: row-reverse;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6rem;
        width: 60px;
    }

    &-text {
        align-items: center;
        align-content: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 1.4rem;
        padding: 1rem;
    }
}

.complex-text-wrapper {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 0 .8rem;

}

//FOOTER

.footer {
    color: white;
    background-color: black;

    .wrapper {
        padding: 2em;
    }

    &__box {
        font-size: 1.4rem;
    }

    &__box-title {
        margin-bottom: 1em;
        font-size: 2.2rem;
        text-transform: uppercase;
        text-align: center;
    }

    &__box-social {
        display: flex;
        justify-content: center;
        margin: 2em 0 1em;
    }

    &__box-link {
        padding: 0 .3em;
        color: white;
        font-size: 3.6rem;
        text-decoration: none;

        &:first-child {
            padding-left: 0;
        }
    }

    &__bottom-text {
        padding: 1.5em 2em;
        text-align: center;
    }
}


// MEDIA 

@media (min-width: 576px) {


    .header__text {
        font-size: 1.5rem;
    }

    .about-us-images__box {
        margin-top: 6rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .architect {

        &:first-child {
            margin-bottom: 0;
        }

    }

    .advantage__boxes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 6rem 2rem;
        width: 100%;
        height: 100%;
    }

    .advantage__box {
        width: 33.3%;
    }
}

@media (min-width: 768px) {

    .header {
        padding-top: 30rem;
        padding-bottom: 5rem;
        color: white;

        &__heading {
            font-size: 2rem;
            line-height: 160%;
            font-weight: 500;
            margin-left: 10px;
            margin-bottom: 40%;
            letter-spacing: 3.5px;
        }

        &__text {
            font-size: 1.4rem;
            margin-left: 10px;
            white-space: nowrap;
            font-weight: 100;

            &:last-child {
                margin-top: 10px;
            }
        }
    }
}

@media (min-width: 992px) {

    .nav-logo {
        width: 25%;

        &__image {
            cursor: pointer;
        }
    }

    .social-media {
        width: 25%;

        &__icon {
            padding: .5rem;
            width: 51px;
        }
    }

    .header {
        background-image: url('../img/headerBig.jpg');

    }

    .nav {
        display: none;
    }


    .nav-desktop {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        width: 100%;
        background: rgba(255, 255, 255, 0.985);

        box-shadow: 0px 4px 10px 10px rgba(117, 114, 114, 0.25);
        z-index: 1000000;

        &__links {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 50%;
        }

        &__link {
            color: black;
            padding: 1rem;
            transform: scale3d(1, 1, 1);
            transition: transform .3s ease-in-out;

            &:hover {
                transform: scale3d(1.2, 1.2, 1);
            }
        }
    }



    .header {
        padding-top: 30rem;
        padding-bottom: 5rem;
        color: white;

        &__heading {
            font-size: 3rem;
            line-height: 160%;
            font-weight: 500;
            margin-left: 10px;
            margin-bottom: 40%;
            letter-spacing: 3.5px;
        }

        &__text {
            font-size: 2rem;
            margin-left: 10px;
            white-space: nowrap;
            font-weight: 100;

            &:last-child {
                margin-top: 10px;
            }
        }
    }

    .advantages {
        @include heroImages('../img/advantagesBig.jpg');
        background-attachment: fixed;
    }

    .advantage__box {
        margin: 3rem;
        transform: scale3d(1, 1, 1);
        transition: transform .3s ease-in-out;


        &:hover {
            transform: scale3d(1.1, 1.1, 1)
        }
    }


    .complex {

        &__box {
            max-width: 100%;
            padding-bottom: 0;
            justify-content: space-evenly;
        }

        &__item {
            flex-direction: column;
            justify-content: center;
            width: 25%;
            max-height: 200px;
            min-height: 200px;
            margin-bottom: 60px;
            padding: 1rem 2rem;
            margin: 2rem;
            transform: scale3d(1, 1, 1);
            transition: transform .3s ease-in-out;


            &:hover {
                transform: scale3d(1.1, 1.1, 1);
            }

            &:hover .complex__icon {
                transform: rotate(15deg);
            }


            &--reverse {
                flex-direction: column;
            }

            &:last-child {
                margin-bottom: 1rem;
            }
        }

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0;
            width: 100%;
            transition: transform .3s;
        }



    }

    .complex-text-wrapper {
        display: flex;
        align-items: center;
        max-height: 105px;
        min-height: 105px;
        padding: 1rem;

        &:nth-child(even) {
            margin-right: 0;
        }
    }


}